# 运行环境
NODE_ENV=production

# 服务端口
PORT=3000

# 静态认证 Token（生产环境必须设置，可使用 pnpm gen 生成）
AUTH_TOKEN=<YOUR_AUTH_TOKEN>

# 日志级别 (trace, debug, info, warn, error, fatal)
LOG_LEVEL=info

# 配置文件目录
RESOURCES_DIR=./resources
